<div class="pos-f-t index-navbar">
  <div class="collapse" id="navbarToggleExternalContent">
    <div class="bg-dark p-4">
      <a routerLink="/" class="text-white button-tempo">Home</a> 
      <a routerLink="/about" class="text-white button-tempo">About</a>
    </div>
  </div>
  
  <nav class="navbar navbar-light bg-light">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <h4>Hung T</h4>
  </nav>
</div>