/* set all padding + margin to 0 */
*{
  padding: 0;
  margin: 0;
}

/* main grid container of the whole page */
.grid-container{
    display: grid;
    grid-template-rows: auto 3fr;
    grid-template-columns: 1fr;
    grid-template-areas: 
    "navbar"
    "body";
}

.index-navbar{
    grid-area: navbar;
}

.index-body{
    grid-area: body;
}