<div class = "grid-container">

  <div class="pos-f-t index-navbar index-navbar">
  <div class="collapse" id="navbarToggleExternalContent">
    <div class="bg-dark p-4">
      <h4 class="text-white">Collapsed content</h4>
      <span class="text-muted">Toggleable via the navbar brand.</span>
    </div>
  </div>
  <nav class="navbar navbar-light bg-light">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  </nav>
</div>

  <h1 class="index-header">Logo</h1>

  <h1 class="index-box1">Box1</h1>
  
  <h1 class="index-img">Image + Quote</h1>

  <h1 class="index-box2">Box2</h1>
  
</div>