<div class = "homepage-grid-container">
  <h1 class="homepage-logo"> askdjadjsdjka</h1>

  <div class="homepage-box1">
    <!--img src="../assets/images/idle.gif" class ="pixel-img" width="150em" height="150em" alt="animated-sprite"-->
    <h3 id="box1-header">About</h3>
    <h1> Frontend  Backend  Developer </h1> 
    <br>
    <h5 id="box1-paragraph"> 
      My passions in website design and develope are limitless. 
    </h5>
    <h5 id="box1-paragraph"> 
      Simplicity, modern and consistency thinking.
    </h5>
    <br><br>
    <h5 class="box1-paragraph">FEATURED PROJECTS </h5>     
    <div class="triangle-down"></div>
  </div>
  

  <div class="homepage-img">
    <img src="../assets/images/123.png" width="100%" id="main-logo">
    <br><br>
    <!--
    <h3> Want to hear a Javascript joke ? </h3>
    <h4> I'll callback later </h4>
    <h5> - <a href="https://www.reddit.com/r/ProgrammerHumor/comments/6zmgob/want_to_hear_a_javascript_joke/">
    TheGarned </a></h5>
    -->
  </div>
</div>